0 10 * * * ~/dev/rickybobby/docker.sh sync >> ~/dev/rickybobby/run.log 2>&1
0 15 * * * ~/dev/rickybobby/docker.sh sync >> ~/dev/rickybobby/run.log 2>&1
0 20 * * * ~/dev/rickybobby/docker.sh sync >> ~/dev/rickybobby/run.log 2>&1
0 23 * * * ~/dev/rickybobby/docker.sh sync >> ~/dev/rickybobby/run.log 2>&1
