
<footer>
  <div class="row">
    rickybobby © 2021
  </div>
  <div class="links">
    <a href="/">Home</a> | <a href="/about">About</a>
  </div>
  <div class="info">
    Built in Somerville, MA with 🥃
  </div>
  </footer>



  </div><!-- container -->
</body>


<script src="/js/rickybobby.js"></script>
</html>
