<div id="header" class="row">
  <div class="row title">
    <a href="/"><h1>Ricky<mark class="em">Bobby</mark></h1></a>
    <h5>if you're not <mark class="em">first</mark>, you're <mark class="i">last</mark></h5>
  </div>

  <div class="row nav">
    <a href="/">Home</a> |
    <a href="/users">Riders</a> |
    <a href="/join">Join</a> |
    <a href="/about">About</a>
  </div>
  <hr>
</div><!-- header -->
