<%- include('partials/_head'); %>
<%- include('partials/_header'); %>


<div id="main" class="row">
  <h3>Waitlist</h3>
  <div class="row info">
    <h4><%= username %> has been added to the waitlist!</h4>
    <p>Check back periodically to see if you've been added or <a href="/about">reach out</a> to check your status</p>
  </div>
</div><!-- main -->



<%- include('partials/_end'); %>
