{{> partials/_head }}
<body>
  <div class="container">
    {{> partials/_header }}


    <div id="main" class="row">
      <div class="row nav">
        <div class="six columns prev">
          {{#pagination.data.prev_page}}
          <a href="/riders?p={{pagination.data.prev_page}}">Previous Riders</a>
          {{/pagination.data.prev_page}}

          {{^pagination.data.prev_page}}
          &nbsp;
          {{/pagination.data.prev_page}}

        </div>
        <div class="six columns next">
          {{#pagination.data.next_page}}
          <a href="/riders?p={{pagination.data.next_page}}">Next Riders</a>
          {{/pagination.data.next_page}}

          {{^pagination.data.next_page}}
          &nbsp;
          {{/pagination.data.next_page}}
        </div>
      </div>

      <div class="row users">
        {{#riders.data}}
          <div class="row user">
            <a href="/users/{{username}}">{{username}}</a><br>
          </div>
        {{/riders.data}}
      </div>
    </div><!-- main -->
  </div><!-- container -->
</body>


<pre class="hide" data-type="riders">
  {{ riders.debug }}
</pre>

<script>
  let debug = document.getElementsByTagName("pre");
  let data = Array.from(debug).reduce((result, item) => {
    let type =item.dataset.type;
    result[type] = JSON.parse(item.innerHTML);
    return result;
  }, {})
</script>


{{> partials/_end }}
