{{> partials/_head }}
<body>
  <div class="container">
    {{> partials/_header }}


    <div id="main" class="row">
      <div class="info row">
        <div class="one column"><img class="u-full-width" src="{{user.data.image_url}}"></img></div>
        <div class="user ten columns">
          <div class="row username">{{user.username}}</div>
          <div class="row">{{user.data.location}}</div>
        </div>
      </div>
      <div class="streaks row">
        <span class="material-icons">
          event_available
        </span>
        Current Weekly: {{user.data.streaks.current_weekly}}


        <br>
        <span class="material-icons">
          emoji_events
        </span>
        Best Weekly: {{user.data.streaks.best_weekly}}

        <br>
        <span class="material-icons">
          directions_bike
        </span>
        Rides: {{user.data.total_pedaling_metric_workouts}}
      </div>

      <div class="workouts row">
        <div class="row nav">
          <div class="six columns prev">
            {{#pagination.data.prev_page}}
            <a href="/users/{{user.username}}?p={{pagination.data.prev_page}}">Previous Workouts</a>
            {{/pagination.data.prev_page}}

            {{^pagination.data.prev_page}}
            &nbsp;
            {{/pagination.data.prev_page}}

          </div>
          <div class="six columns next">
            {{#pagination.data.next_page}}
            <a href="/users/{{user.username}}?p={{pagination.data.next_page}}">Next Workouts</a>
            {{/pagination.data.next_page}}

            {{^pagination.data.next_page}}
            &nbsp;
            {{/pagination.data.next_page}}
          </div>
        </div>


        {{#workouts.data}}
        <div class="workout row">
          <div class="two columns instructor">
            <img class="u-full-width" src="{{instructor.data.image_url}}"></img>
          </div>
          <div class="five columns ride_info">
            <div class="row name">{{ride.data.title}} - {{instructor.data.name}}</div>
            <div class="row duration">Duration:{{ride.data.duration}}</div>
            <div class="row difficulty">Difficulty: {{ride.data.difficulty_estimate}} / {{ride.data.difficulty_level}}</div>
            <div class="row rating">Rating: {{ride.data.overall_rating_avg}}</div>
            <div class="row peloton"><a href="https://members.onepeloton.com/classes/cycling?modal=classDetailsModal&classId={{ride.id}}" target="_blank">Peloton Link</a></div>
            <div class="row"></div>
            <div class="row"></div>
          </div>
          <div class="five columns performance">
            {{#performance.average_summaries}}
            <div class="row {{slug}}">{{display_name}}: {{value}}</div>
            {{/performance.average_summaries}}
          </div>
        </div>
        {{/workouts.data}}


        <div class="row nav">
          <div class="six columns prev">
            {{#pagination.data.prev_page}}
            <a href="/users/{{user.username}}?p={{pagination.data.prev_page}}">Previous Workouts</a>
            {{/pagination.data.prev_page}}

            {{^pagination.data.prev_page}}
            &nbsp;
            {{/pagination.data.prev_page}}

          </div>
          <div class="six columns next">
            {{#pagination.data.next_page}}
            <a href="/users/{{user.username}}?p={{pagination.data.next_page}}">Next Workouts</a>
            {{/pagination.data.next_page}}

            {{^pagination.data.next_page}}
            &nbsp;
            {{/pagination.data.next_page}}
          </div>
        </div>

      </div>
    </div><!-- main -->
  </div><!-- container -->
</body>


<pre class="hide" data-type="user">
  {{ user.debug }}
</pre>
<pre class="hide" data-type="workouts">
  {{ workouts.debug }}
</pre>
<pre class="hide" data-type="pagination">
  {{ pagination.debug }}
</pre>

<script>
  let debug = document.getElementsByTagName("pre");
  let data = Array.from(debug).reduce((result, item) => {
    let type =item.dataset.type;
    result[type] = JSON.parse(item.innerHTML);
    return result;
  }, {})
</script>
{{> partials/_end }}
