@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
  --c1: #EDE7E3;
  --c2: #489FB5;
  --c3: #82C0CC;
  --c4: #990D35;
}

body {
	font-family: 'Inter var', sans-serif;
  margin-top: 5%;
}

#main h1 {
  font-weight: 100;
}

#main h2 {
  font-weight: 500;
}


.score {
  font-size: 50px;
}

.user_info {
  margin-bottom: 50px;
}

.feather-12 {
  height: 12px;
  width: 12px;
}

.feather-16 {
  height: 16px;
  width: 16px;
}

.feather-32 {
  height: 32px;
  width: 32px;
}


.ride-name {
  font-size: 20px;
  font-weight: 700;
}

.ride-instructor {
  font-weight: 300;
}

.ride-image img {
  border-radius: 50%;
  border: 3px solid #efefef;
  width: 20vh;
}

.component {
  box-shadow: 0 30px 60px rgb(0 0 0 / 10%);
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #efefef;
}

.comparison {
  margin: 50px 0px;
}

.profile {
  border-radius: 80px;
}

.user_info .username {
  font-weight: 700;
}

.user_info .location {
}

.user_info .userA > * {
  text-align: right;
}

.user_info .userB > * {
  text-align: left;
}

















/*  NOT VALIDATED */





hr {
  margin-top: 0px;
}

#header {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
}

#header .title {
  font-size: 50px;
  text-transform: uppercase;
}

#header .title h1 {
  margin-bottom: 0px;
}

#header .title h5 {
  font-size: 15px;
}

#header .nav{
  text-align: right;
  text-transform: uppercase;
}

#main .search {
  text-align: center;
}

#header > * input {
  padding: 0px 30px;
  width: 80%;
  border: 0px;
  border-bottom: 2px solid #cfcfcf;
}

mark {
  background-color: transparent;
}
mark.em {
  font-weight: 600;
}
mark.i {
  font-style: oblique;
}

.hide {
  display: none;
}

.info {
}

.info img {
  width: 50px;
  border-radius: 3px;
}

.info .username {
  font-weight: 800;
  font-size: 30px;
}


.user > input {
  font-size: 20px;
  text-align: center;
  border: 0px;
  border-bottom: 1px solid #efefef;
}

.header {
  text-align: center;
  text-transform: uppercase;
}

.wins {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.compare-image {
  height: 25vh;
}

.ride {
}
.ride_info {
  text-align: left;
}

.left {
  text-align: right;
}

.vs {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

.recent > h1 {
  text-align: center;
}

.user_profile {
  margin-right: 5px
}

input.shake {
  font-size: 30px;
  text-align: center;
  border: 0px;
  border-bottom: 1px solid #efefef;
  font-weight: 400;
}
