@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
  --c1: #EDE7E3;
  --c2: #489FB5;
  --c3: #82C0CC;
  --c4: #990D35;
  --core: #077E72;
  --peloton: rgb(223, 28, 47);
}

body {
  font-family: 'Inter var', sans-serif;
  margin-top: 5%;
  text-transform: uppercase;
}

#main h1 {
  font-weight: 100;
}


.header {
}


a {
}

.ride-info {
}

.peloton-link {
  background: #efefef;
  border-radius: 20px;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.ride-info .peloton {
  margin-top: 20px;
  text-transform: uppercase;
}

.ride-info .difficulty {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
}

.performance {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}

.ride-info .name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.ride-info .instructor {
  font-weight: 300;
  text-transform: uppercase;
}

.metrics {
  font-size: 10px;
  font-weight: 300;
}

.pagination {
  margin-bottom: 20px;
}

.workout {
  margin-bottom: 70px;
}

.user .username {
  font-weight: 800;
  font-size: 30px;
  border-bottom: 1px solid #efefef;
}

.user .location {
  font-weight: 300;
  text-transform: uppercase;
}

.score {
  font-size: 50px;
}

.user_info {
  margin-bottom: 50px;
}

.feather-12 {
  height: 12px;
  width: 12px;
}

.feather-16 {
  height: 16px;
  width: 16px;
}

.feather-32 {
  height: 32px;
  width: 32px;
}

.next {
  text-align: right;
}

.ride-name {
  font-size: 20px;
  font-weight: 700;
}

.ride-instructor {
  font-weight: 200;
  text-transform: uppercase;
}

.ride-image img {
  border-radius: 50%;
  border: 3px solid #efefef;
  width: 20vh;
}

.ride-link {
  margin-top: 10px;

  text-transform: uppercase;
}

.component {
  box-shadow: 0 30px 60px rgb(0 0 0 / 10%);
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #efefef;
  margin-bottom: 40px;
}

.comparison {
  margin: 50px 0px;
}

.profile {
  border-radius: 80px;
}

.profile-list {
  width: 5vh;
  border-radius: 50px;
}


.user-list {
  margin-top: 20px;
  font-weight: 700;
}

.user-list {
  text-align: center;
}
.user_info .userA > * {
  text-align: right;
}

.user_info .userB > * {
  text-align: left;
}



.workout-output {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 30px;
}

.lower {
  font-size: 15px;
  font-weight: 400;
}

.metric-icon {
  border-bottom: 1px solid #efefef;
}

.workout-taken {
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef;
}

.comparisons {
  text-align: center;
}

.workout-metrics {
  font-size: 25px;
}



.workout-max-output {
}

.workout-cadence {
}

.workout-resistance {
}


.workout-speed {
}







/*  NOT VALIDATED */





hr {
  margin-top: 0px;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

#header {
  text-align: center;
  font-weight: 100;
  margin-bottom: 40px;
}

#header .title {
  font-size: 50px;
  text-transform: uppercase;
}

#header .title h1 {
  margin-bottom: 0px;
}

#header .title h5 {
  font-size: 15px;
}

#header .nav{
  text-align: right;
  text-transform: uppercase;
}

#main .search {
  text-align: center;
}

#header > * input {
  padding: 0px 30px;
  width: 80%;
  border: 0px;
  border-bottom: 2px solid #cfcfcf;
}

mark {
  background-color: transparent;
}
mark.em {
  font-weight: 600;
}
mark.i {
  font-style: oblique;
}

.hide {
  display: none;
}

.info {
}

.info img {
  width: 50px;
  border-radius: 3px;
}

.info .username {
  font-weight: 800;
  font-size: 30px;
}


.user > input {
  font-size: 20px;
  text-align: center;
  border: 0px;
  border-bottom: 1px solid #efefef;
}

.header {
  text-align: center;
  text-transform: uppercase;
}

.wins {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.compare-image {
  height: 25vh;
}

.ride {
}
.ride_info {
  text-align: left;
}

.left {
  text-align: right;
}

.vs {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

.recent > h1 {
  text-align: center;
}

.user_profile {
  margin-right: 5px
}

.comparison-profile {
  width: 75px;
  border-radius: 50px;
  border: 1px solid #efefef;
}

input.shake {
  font-size: 30px;
  text-align: center;
  border: 0px;
  border-bottom: 1px solid #efefef;
  font-weight: 400;
}
